* {
    margin: 0;
    padding: 0;
}

/* general styles */

body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 60px;
}

/* header */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgba(32, 156, 238, 0.6);
    padding: 10px 0;
    height: 40px;
    width: 100%;
}

/* styles for links in header, both logo and navbar links */

header a {
    text-decoration: none;
    color: inherit
}

/* Adding background elements for logo */

#logo {
    color: #FA5;
    background-color: #3a3a3a;
    padding: 5px;
    border-radius: 50%;
}

/* Navbar styles for menu with dropdown toggle */

#navmenu {
    list-style-type: none;
}

#navmenu li {
    color: #3a3a3a;
    padding: 15px 0;
}

nav {
    position: absolute;
    background-color: #FA5;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #FA5;
    display: none;
    top: 100%;
}

/*Navmenu dropdown toggle */

#navmenu-toggle:checked~nav {
    display: block;
}

#navmenu-toggle {
    display: none;
}

.navmenu-toggle-label {
    font-size: 2rem;
    padding-right: 5%;
}

/* styles for main content */

main div>section {
    border: 2px solid white;
}

/* Introduction section */
#introduction {
    background: url("../images/landing_page_background.jpg") no-repeat 10% 10%/cover;
    color: white;
    min-height: 200px;
}

#intro-content {
    background-color: rgba(32, 156, 238, 0.6);
    width: 80%;
    padding: 25px 20px;
    margin: 5%;
    border-radius: 50%;
    text-align: center;
}

/* Service section */
#services {
    display: flex;
}

#services-content>h2 {
    text-align: center;
    background-color: white;
}

.care-package {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 10px;
    border-radius: 10%;
    padding: 10px;
    background-color: #FA5;
    border: 2px solid #3a3a3a;
}

.care-package>h2 {
    text-align: center;
}

.care-package ul {
    list-style-type: none;
}

.price {
    background-color: black;
    color: orange;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 35px;
    margin-top: 50px;
    box-shadow: solid 2px #3a3a3a;
}

#working-video h2 {
    background-color: rgba(32, 156, 238, 0.6);
    border-radius: 50%;
    padding: 30px;
}

#working-video iframe {
    margin: 5px;
}